<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Duration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
<h1> This collection belongs to {{name}}</h1>
<h4>path to th css file: {{ url_for('static', filename='css/style.css')}}</h4>
<table>
  <tr>
    <th>movie</th>
    <th>duration</th>
    <th>comments</th>

  </tr>
   {% for k,v in movies.items()%}
  <tr>
      <td>{{k}}</td>
      <td>{{v}}</td>
    {% if v <= 2%}
  <td>short</td>
    {% elif v >= 2 and v <=3 %}
    <td>medium</td>
    {% else %}
    <td style ="color :red">long</td>
    {% endif%}
    </tr>
      {% endfor %}
</table>

</body>
</html>